@model EntityLayer.Admin


@{
    ViewBag.Title = "Addmin";
    Layout = "~/Views/Shared/_AdminLayot.cshtml";
}

<<h1>Yeni Admin Ekleme Sayfasi</h1>

@using (Html.BeginForm("AddAdmin", "Authorization ", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin Kullanıcı Adi")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Sifreyi Giriniz")
        @Html.TextBoxFor(x => x.Adminpassword, new { @class = "form-control" })
        <br /><br />
        @Html.Label("Rolü Seçiniz")
        @Html.TextAreaFor(x => x.AdminRole, new { @class = "form-control" })
        <button class="btn btn-info">Kaydet</button>
    </div>
}


